.team-section {
  // Swiper navigation buttons styling
  :global(.swiper-btn) {
    background: #fb9b0d;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;

    &:hover {
      background: #facd89;
    }

    i {
      font-size: 1.5rem;
    }
  }

  // Swiper pagination styling
  :global(.swiper-pagination-bullet) {
    background: #fb9b0d;
    opacity: 0.5;

    &:global(.swiper-pagination-bullet-active) {
      opacity: 1;
    }
  }
}
