$gold: #C4A574;
$gold-dark: #A68A5F;

.team-section {
  // Swiper navigation buttons styling
  :global(.swiper-btn) {
    background: $gold;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;

    &:hover {
      background: $gold-dark;
    }

    i {
      font-size: 1.5rem;
    }
  }

  // Swiper pagination styling
  :global(.swiper-pagination-bullet) {
    background: $gold;
    opacity: 0.5;

    &:global(.swiper-pagination-bullet-active) {
      opacity: 1;
    }
  }
}
